This file should say <%= scope.function_hiera(['apache::hello'])%>
ServerRoot "/etc/httpd"

Listen 0.0.0.0:80

#<IfDefine SSL>
#  Listen 0.0.0.0:80
#  Listen 0.0.0.0:443
#</IfDefine>

Include conf.modules.d/*.conf

User apache
Group apache
ServerAdmin root@localhost
ServerName <%= scope.function_hiera(['web1::web_server_fqdn'])%>:80

<Directory />
	Options FollowSymLinks
##    AllowOverride none
  Require all denied
</Directory>

DocumentRoot "/var/www/html"

#
# Relax access to content within /var/www.
#
<Directory "/var/www">
    AllowOverride None
    # Allow open access:
    Require all granted
</Directory>

# Further relax access to the default document root:
<Directory "/var/www/html">
  Options Indexes FollowSymLinks
	Require all granted
</Directory>
#
# DirectoryIndex: sets the file that Apache will serve if a directory
# is requested.
#
<IfModule dir_module>
    DirectoryIndex index.html
</IfModule>

##<Files ".ht*">
##    Require all denied
##</Files>
<FilesMatch "^\.ht">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

ErrorLog "logs/error_log"
LogLevel debug

<IfModule log_config_module>
    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
    LogFormat "%h %l %u %t \"%r\" %>s %b" common

    <IfModule logio_module>
      # You need to enable mod_logio.c to use %I and %O
      LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %I %O" combinedio
    </IfModule>

    CustomLog "logs/access_log" common
    #CustomLog "logs/access_log" combined
</IfModule>

<IfModule alias_module>
    ScriptAlias /cgi-bin/ "/var/www/cgi-bin/"
</IfModule>

#
# "/var/www/cgi-bin" should be changed to whatever your ScriptAliased
# CGI directory exists, if you have that configured.
#
##<Directory "/var/www/cgi-bin">
##    AllowOverride None
##    Options None
##    Require all granted
##</Directory>
<Directory "/var/www/cgi-bin">
  Options None
	Require all granted
</Directory>


<IfModule mime_module>
    TypesConfig /etc/mime.types
    AddType application/x-compress .Z
    AddType application/x-gzip .gz .tgz
</IfModule>

AddDefaultCharset UTF-8

<IfModule mime_magic_module>
    MIMEMagicFile conf/magic
</IfModule>

#EnableMMAP off
EnableSendfile on

# Load config files in the "/etc/httpd/conf.d" directory, if any.
IncludeOptional conf.d/*.conf

#For CIM
TraceEnable off
Header set Connection close

ServerSignature Off
ServerTokens Prod

LogFormat "%v %h %l %u %t \"%r\" %s %b %D" trm

ExpiresActive on
ExpiresByType application/x-javascript "access plus 2 months"
ExpiresByType application/javascript "access plus 2 months"
ExpiresByType text/javascript "access plus 2 months"
ExpiresByType text/css "access plus 2 months"
ExpiresByType image/gif "access plus 2 months"
ExpiresByType image/jpeg "access plus 2 months"
ExpiresByType image/png "access plus 2 months"
ExpiresByType image/x-icon "access plus 2 months"
ExpiresByType application/zip "access"

AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript text/json application/x-javascript

#RequestHeader set X-Forwarded-Proto "https"
RequestHeader set X-Forwarded-For %{CLIENT_IP}e
#Header edit Set-Cookie "^(JSESSIONID=.*)" "$1; HttpOnly; Secure"
Header edit Set-Cookie "^(JSESSIONID=.*)" "$1; HttpOnly"

#RequestHeader set SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"
#RequestHeader set SSL_CIPHER "%{SSL_CIPHER}s"
#RequestHeader set SSL_SESSION_ID "%{SSL_SESSION_ID}s"
#RequestHeader set SSL_CIPHER_USEKEYSIZE "%{SSL_CIPHER_USEKEYSIZE}s"


<VirtualHost *:80>
  ServerName http://<external_web_hostname.domain>
  Alias /trm "/var/www/html/trm"

   # Order deny,allow
   # Allow from all

  RewriteEngine on
  LogLevel alert rewrite:trace5

  # Healthcheck rule
	#  this is 200 because AWS ELB's expect a 200 response for healthy.  Optimally this would be a 204 (success-no content)
	RedirectMatch 200 health$
  #cim rewrite
  RewriteRule ^/?$ /trm/launch.jsp [R,L]
  RewriteRule ^\/trm\/?$ /trm/launch.jsp [R,L]
  #RewriteRule ^/trm/dmcproxy/(.*) http://pod04dmc.aprimocloud.com/$1 [P,QSA,L]
  #RewriteRule ^/trm/dmcproxy/(.*) http://ps-imc-test.custmta.com/$1 [P,QSA,L]
  RewriteRule ^/trm/(.+\.(?:jsp|do|rpc).*)$ http://<app_hostname.domain>:8080/trm/$1 [P,L]
  RewriteRule ^(/trm/(saml|services).*)$ http://<app_hostname.domain>:8080$1 [P,L]
  RewriteRule ^/trm/((mvc|integration|services|trm|offline|pe|fileTransfer).*)$ http://<app_hostname.domain>:8080/trm/$1 [P,L]

  #[P,L]
  RewriteRule ^/trm/(j_spring_.*)$ http://<app_hostname.domain>:8080/trm/$1 [P,L] # acegi security check
  RewriteRule ^/trm/jawr(?:css)?/.*/bundles/(.*)$ /trm/js/bundles/$1 [PT,L]
  RewriteRule ^/trm/jawr(?:css)/(.*)$ /trm/$1 [PT,L]

  #ProxyPassReverse /trm http://<hostname.domain>/trm
  ProxyPassReverse /trm http://<app_hostname.domain>:8080/trm
  RewriteRule ^\/trm\/?$ http://<app_hostname.domain>:8080/trm [P,L]

  #saml rewrite
  #ProxyPass /idp/profile/SAML2/SOAP ajp://54.172.80.23:8443/idp/profile/SAML2/SOAP retry=30
  #ProxyPass /idp ajp://54.173.182.28:8009/idp retry=30
  #ProxyPassReverse /idp ajp://54.173.182.28:8009/idp


  #Alias /trm "/var/www/html/trm"
  # RewriteRule ^/tmi/(.*) http://<hostname.domain>:8080/tmi/$1 [P,L]
  #Alias /tmi "/var/www/html/tmi"

 # <proxy balancer://cluster>
 #   Order deny,allow
 #   Allow from all
 #     This needs to be automated after R&D
 #   BalancerMember http://<appserver1.domain>:8080 loadfactor=1 route=cim01
 #   BalancerMember http://<appserver2.domain>:8080 loadfactor=1 route=cim02
 #
 #   ProxySet stickysession=JSESSIONID nofailover=Off
 # </proxy>
 #
 #  SSLProxyEngine on
 #
 # RewriteEngine on
 # These directives were removed in 2.4
 #  RewriteLogLevel warn
 #  RewriteLog /var/log/httpd/cim-rewrite.log
 # LogLevel alert rewrite:trace5
 #
 #  cim rewrite
 # RewriteRule ^/?$ /trm/launch.jsp [R,L]
 # RewriteRule ^\/trm\/?$ /trm/launch.jsp [R,L]
 #  RewriteRule ^/trm/dmcproxy/(.*) http://pod04dmc.aprimocloud.com/$1 [P,QSA,L]
 #  RewriteRule ^/trm/dmcproxy/(.*) http://ps-imc-test.custmta.com/$1 [P,QSA,L]
 # RewriteRule ^/trm/(.+\.(?:jsp|do|rpc).*)$ balancer://cluster/trm/$1 [P,L]
 # RewriteRule ^(/trm/(saml|services).*)$ balancer://cluster$1 [P,L]
 # RewriteRule ^/trm/((mvc|integration|services|trm|offline|pe|fileTransfer).*)$ balancer://cluster/trm/$1
 #
 #  [P,L]
 # RewriteRule ^/trm/(j_spring_.*)$ balancer://cluster/trm/$1 [P,L] # acegi security check
 # RewriteRule ^/trm/jawr(?:css)?/.*/bundles/(.*)$ /trm/js/bundles/$1 [PT,L]
 # RewriteRule ^/trm/jawr(?:css)/(.*)$ /trm/$1 [PT,L]
 #
 # ProxyPassReverse /trm balancer://cluster/trm
 # RewriteRule ^\/trm\/?$ balancer://cluster/trm [P,L]
 #
 #  saml rewrite
 # ProxyPass /idp/profile/SAML2/SOAP ajp://54.172.80.23:8443/idp/profile/SAML2/SOAP retry=30
 # ProxyPass /idp ajp://54.173.182.28:8009/idp retry=30
 # ProxyPassReverse /idp ajp://54.173.182.28:8009/idp
 #
 #
 # Alias /trm "/var/www/html/trm"
 # RewriteRule ^/tmi/(.*) ajp://54.173.182.28:8009/tmi/$1 [P,L]
 #  Alias /tmi "/var/www/html/tmi"
</VirtualHost>