# Copyright (C) 2008,2010 by Teradata Corporation.
# All Rights Reserved.
# TERADATA CONFIDENTIAL AND TRADE SECRET
# Properties file with JDBC-related settings.
# Applied by PropertyPlaceholderConfigurer from "dataAccessContext-local.xml".
# Targeted at system administrators, to avoid touching the context XML files.
#  Need to figure out where this is coming from.....
server=<%= scope.lookupvar('tomcat::apphost_info')['db_fqdn']%>
base.db=<%= scope.lookupvar('tomcat::apphost_info')['db_name']%>
prospectlead.db=<%= scope.lookupvar('tomcat::apphost_info')['p_lead_db']%>
customerlead.db=<%= scope.lookupvar('tomcat::apphost_info')['c_lead_db']%>

# -----------------   Query Banding Note   ----------------- #
# Query Banding is OFF by default.
#
# To turn on Query Banding, add ",QB_ENABLED=TRUE" at the end of
# the jdbc.url value i.e.
# jdbc.url=qes:jdbc:teradata://153.84.112.76/DATABASE=CHANGEME,TMODE=TERA,QB_ENABLED=TRUE
# ---------------------------------------------------------- #
jdbc.driverClassName=com.teradata.tal.qes.ioc.jdbc.QESDriver
#jdbc.url=qes:jdbc:teradata://<%=scope.lookupvar('tomcat::apphost_info')['db_fqdn']%>/DBS_PORT=<%=scope.lookupvar('tomcat::apphost_info')['db_port']%>,DATABASE=<%=scope.lookupvar('tomcat::apphost_info')['db_name']%>,TMODE=TERA
jdbc.url=<%=scope.lookupvar('tomcat::apphost_info')['jdbc_url']%>
jdbc.username=<%= scope.lookupvar('tomcat::apphost_info')['db_user']%>
jdbc.password=<%= scope.lookupvar('tomcat::apphost_info')['db_passwd']%>

#Time to wait when connecting to database server
dbcp.maxWait=-1
dbcp.maxIdle=10
dbcp.maxActive=100
#The amount of time a thread will wait before throwing an exception for a
#connection to become available when exceeding maxActive. 0 means no wait.
dbcp.checkoutWait=0

# A Logger needs to be added to log4j.xml, in addition to this setting, to fully enable sql logging.
#      <logger name="jdbc.sqltiming">
#          <level value="INFO" />
#      </logger>
dbcp.logSQL=true

# A connection that has been in the idle pool less than this amount of time
# (millisecond) will not be verified before it is returned from the idle pool.
# Suggested setting is 0. Change this with care as it will potentially allow
# bad connections to be used.
dbcp.idleConnectionNoVerifyWindow=0

# For diagnostics, the settings can be changed to the following:
# dbcp.traceEnabled=true
# This requires additianal memory for each connection acquired, as
# the stack info is stored on the call
#
#----------------------------------------------------------------------------------------------------------------------------------------------------
dbcp.dataSource=trmDataSource
dbcp.tracing=false

#-------------------------------------------------------------------------------
# Governs preloading of application objects into the L2 cache.
# allowed values = "true" or "false"
# if true, preloading is enabled. Otherwise, it will be disabled.
# preloading is disabled by default.
dbcp.enablePreload=false
# fetchUpdatedSinceDaysAgo specifies a days-elapsed value that is used
# to create a filter on the object's "Updated" field (Update_Dttm >= [timestamp value as of n days ago])
# this symbol has no impact if 'enablePreload' is false, though it must be included here
dbcp.fetchUpdatedSinceDaysAgo=365