<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JasperListener" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />
  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>
  <Service name="Catalina">
    <Connector port="8080"
	       protocol="HTTP/1.1"
               connectionTimeout="20000"
		redirectPort="8080"
		proxyPort="80"
		scheme="http"
		secure="false"
	       proxyName="<%= scope.lookupvar('tomcat::apphost_info')['landing_fqdn'] %>" />
				 
<!-- Not sure if this is needed if we do all http:  comment out later to see what happens. 
    <Connector port="8009"
	       protocol="AJP/1.3"
	       scheme="http"
		secure="false"
		proxyPort="80"
		connectionTimeout="20000"
	       proxyName="<webserver>" />
-->
    <!-- Engine name="Catalina" defaultHost="localhost"> jvmRoute="<uniq_name-uniq_number>" -->
    <Engine name="Catalina" defaultHost="localhost">
      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost"  appBase="webapps"
            unpackWARs="true" autoDeploy="true">

        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"
               prefix="localhost_access_log." suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
      </Host>
    </Engine>
  </Service>
</Server>
