# Copyright (C) 2008-2013 by Teradata Corporation.
# All Rights Reserved.
# TERADATA CONFIDENTIAL AND TRADE SECRET

trm-data=./dist/trm
trm-create=true
trm-help-link=/trmhelp/index.htm
trm.hostenv.webapp.base_url=http://<%= scope.lookupvar('tomcat::apphost_info')['app_lb_fqdn']%>:8080/trm

segmentation.metadata.refreshInterval=600000

segmentation.max.schemaelement.filter.size=4000

trm.external-validation-enabled=false

trm-bypass-version-check=false

trm-pe-log-dir=/var/log/cim/trm

trm.allow-pe-jobs-to-run=true

trm.cluster.node.id=<%= scope.lookupvar('tomcat::apphost_info')['uniq_cluster_id']%>
trm.cluster.name=TRM_1
trm.cluster.ip.based.urls=false
trm.cluster.enable=false
trm.cluster.heartbeat.interval=60
trm.cluster.rmi.port=1199
trm.cluster.client.ip.header=x-forwarded-for

trm.web.refreshCustomAttributesOnSave=false


# Settings for ARM-ARTIM integration features
# artim.contact-orgid
# The Ord ID for the web service call.
# artim.contact-userid
# The user ID for the web service call.
# artim.contact-password
# The password for the web service call. If this is not set, it'll come from PasswordManager.
artim.contact-orgid=
artim.contact-userid=
artim.contact-password=
artim.contact-wsaddress=
artim.contact-wsInitialStartValue=
artim.contact-wsMaxIntervalSize=
# ARTIM login web service to get session ID
artim.login-url=
artim.contact-wsEndValueDelay=
# ARTIM config server for web service calls
artim.config-server=
artim.profile-server=
artim.custprofile-sleep-time=
artim.custprofile-timeout=
artim-custprofile-retry-count=

#####################################################
# Properties for Digital Messaging Center Integration
#####################################################

# The endpoint URI for DMC
dmc.webservice.url=http://replace.with.url:port/path/to/rest/api
dmc.webservice.username=REPLACE.WITH.API.USER
dmc.webservice.password=REPLACE.WITH.API.PASSWORD

#Name of DbConnection to connecto to DMC via DataPump Connector
dmc.datapump.connection.name=DMC

dmc.default.group.id=REPLACE.WITH.DMC.DEFAULT.GROUP
dmc.default.email.domain=REPLACE.WITH.EMAIL.DOMAIN
dmc.default.response.queue.limit=1000
dmc.default.response.max.number=10000
dmc.customer.pk=1
dmc.response.process.connection.name=ARM HomeServer Connection

dmc.proxy=replaceWithProxyValue

#When DataPump Connector is sending output to DMC via the dpcp:// protocol this
#is the number of milliseconds it will wait until a red times out.
datapump.dpcp.soTimeout=60000

#If set to true the DataPump Connector, when sending via DPCP, will wait
#for the other side to complete the TCP close protocol.
datapump.dpcp.soLinger=true

#The amount of time the DataPump Connector using dpcp:// will wait for
#the peer socket to close, if datapump.dpcp.soLinger is true. 0 means
#wait forever.
datapump.dpcp.soLingerTimeout=60000

#required if an authenticated proxy server is being used on the network to access the internet
dmc.proxy.host=
dmc.proxy.port=80
dmc.proxy.username=
dmc.proxy.passord=

#time in milliseconds to wait for response from DMC on API calls
dmc.socket.timeout=60000

#TMI properties
tmi.command.manager.path=$TMI_COMMAND_MANAGER_PATH$
tmi.packages.folder.path=